.AppBarMenu {
  display: flex;
  align-items: center;
}

.appBarMenuAvatar {
  margin-right: 12px;
}

.appBarMenuUserName {
  color: #263238;
  font-size: 18px;
}

@media only screen and (min-width: 600px) {
  header > div:first-child {
    display: none !important;
  }
}
