.AppBarMenu {
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconSection {
  width: 24px;
  height: 24px;
  margin: 0 16px;
}

.iconSection:hover {
  cursor: pointer;
}

.tools-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.appBarMenuAvatar {
  margin-right: 12px;
}

.appBarMenuUserName {
  color: #263238;
  font-size: 18px;
}

@media only screen and (min-width: 600px) {
  header > div:first-child {
    display: none !important;
  }
}
