.AppSidebar {
  background-color: #1e1a34;
  height: 100%;
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebarLogo {
  display: block;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 30px;
}

.sidebarMenuItem {
  padding: 20px 36px;
  cursor: pointer;
}

.sidebarMenuItemSelected {
  background-color: #3c8bd4;
  border-right: 3px white solid;
}

.sidebarMenuItemText {
  font-size: 16px;
  color: #c4c4c4;
}

.sidebarMenuItemSelectedText {
  color: white;
  font-weight: bold;
}

.sidebarMenuItemContainer {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-auto-flow: column;
  grid-gap: 10px;
  cursor: pointer;
}

.withBorder {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.userInfoContainer {
  display: grid;
  grid-gap: 20px;
  padding: 0 36px 24px;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .AppSidebar {
    position: static;
  }
}
