html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fcfcfc;
}

#app {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
}

.appContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
